*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Default ignored files
/shelf/
/workspace.xml

# Android/IntelliJ
.idea/
*.iml

# Gradle
.gradle/
build/

# Others
*.log
.github/
