<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Camera permission for scanning bills -->
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".OneVaultApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_one_vault"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_one_vault_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OneVault">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.OneVault">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- FileProvider for camera image capture -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.adilstudio.project.onevault.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>